
//COLORS
$primary-color: #55c57a;
$light-primary-color: #7ed56f;
$dark-primary-color: #28B485;
$grey-color: #505354;
$white-color : #FFF;
$light-color: #f1f1f1;
$black-color: #000;
$dark-color: #19181A;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$purple-color: #a80088;
$blue-color: #3524f1;
$light-blue: #148dad;
$light-red: #cf463d;
$light-orange: #d2a250;


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 100vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
